form {
	display: flex;
	flex-direction: column;
}

.new-tweet-textarea {
	border: none;
	outline: none;
	background: none;
	border-bottom: 5px solid #545149;
	line-height: 0.6;
	resize: none;
}

.new-tweet-button-box {
	display: flex;
	justify-content: space-between;
	margin-top: 1rem;
	font-family: "Bungee", sans-serif;
}

.new-tweet-button {
	border: none;
	background-color: #4956a1;
	color: white;
}

.counter {
	font-family: inherit;
}
